<style type="text/css">
  body {
    background: white url('images/backgrounds/<%=(1..3).to_a.sample%>.jpg') no-repeat scroll center 43px;
  }
</style>

<div id="main-home">
  <div class="sub-header-trans">
    <span class="heading left">How does it <span class="about">work?</span></span>
    <span class="heading right">Theme  <span class="archive">Archive</span></span>
    <div class="clear-fix"></div>
  </div>

  <div id="main">
    <%= yield %>
  </div>
</div>

